<div class="cover">
  <h2>Url Information</h2>
  <ul>
    <li>
      <%= @url_info.url %>
    </li>
    <li>
      <%= @short_url %>
    </li>
    <li>
      <%= @visits.count %>
    </li>
  </ul>
</div>

